@font-face {
  font-family: 'pilar';
  src:
    url('/font/pilar.eot?54912974');
  src:
    url('/font/pilar.eot?54912974#iefix')
    format('embedded-opentype'),
    url('/font/pilar.woff2?54912974') format('woff2'),
    url('/font/pilar.woff?54912974') format('woff'),
    url('/font/pilar.ttf?54912974') format('truetype'),
    url('/font/pilar.svg?54912974#pilar') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body {
  height:
  100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: #FFB54A;
  color: #383838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
a {
  color: #383838;
  text-decoration: none;
}
hr {
  border-width: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1% 0.5%;
}
header div {
  width: 33.333%;
  padding: 0.3vw 1vw;
}
header div a {
  color: #383838;
  font-family: "pilar";
  cursor: pointer;
  font-size: 18px;
}
.prev {
  text-align: left;
}
.webring {
  text-align: center;
}
.next {
  text-align: right;
}
.header {
  display: table-cell;
  font-size: 7vw;
  font-weight: 700;
  vertical-align: top;
}
.tablehead {
  display:table;
  table-layout:fixed;
  border-collapse: collapse;
  width:100%;
  height:12vw;
}
.table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width:100%;
}
.row {
  display:
  table-row;
}
.cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #383838 !important;
  padding: 2vh;
  font-size: 2vw;
  text-transform: uppercase;
  vertical-align: middle;
  height: 18vw;
  background: center center;
  background-size: cover;
}

.cell a:hover {
  text-decoration: underline;
}
.cell:hover a{
  color: #f0f0f0;
  text-shadow: 0 0 3px #202020, 0 0 5px #202020;
}
.c-color-1 {
  background-color: #162D73;
}
.c-color-1 a {
  color: #DEDADF;
}
.c-color-2 {
  background-color: #DCDCDC;
}
.c-color-2 a {
  color: #162D73;
}
.c-color-3 {
  background-color: #E5B3BC;
}
.c-color-3 a {
  color: #F65853;
}
.c-color-4 {
  background-color: #115847;
}
.c-color-4 a {
  color: #E5B3BC;
}
.c-color-5 {
  background-color: #F65853;
}
.c-color-5 a {
  color: #383838;
}
footer {
  padding: 3vw 0 2vw 0;
  font-size: 1.3vw;
  text-transform: none;
  line-height: 120%;
}
footer a {
  text-decoration: underline;
}
/* Styling for smaller screens */
@media screen and (max-width: 767px) {
  header {
    margin: 0.5vh 0 0 0;
    padding: 2vh;
  }
  header div a {
    font-size: 18px;
  }
  .header {
    font-weight: 400;
    vertical-align: center;
    padding: 1vh 0 2vh 0;

    margin-bottom: 2vh;
  }
  .tablehead {
    height: 10%;
  }
  .cell {
    min-height: 30vh;
    width: 100%;
    font-size: 5vw;
    padding: 10% 2%;
  }
  footer {
    background-color: #FFB54A;
    height: 6vh;
    font-size: 1.5vh;
    padding: 2vh;
    line-height: 130%;
  }
}

/* hover gifs*/

/* pomerian */
#UUsg-3sXfuzNYcB3LbqLsduQ:hover {
  background-image: url('/gif/UUsg-3sXfuzNYcB3LbqLsduQ.gif');
}
/* gemstones */
#UUYbvxOGPE387xt8H6yMD0rA:hover {
  background-image: url('/gif/UUYbvxOGPE387xt8H6yMD0rA.gif');
}
/* honda */
#UUrB8-v5pacZBFM_IL0pnjyA:hover {
  background-image: url('/gif/UUrB8-v5pacZBFM_IL0pnjyA.gif');
}
/* news by robots */
#UUCoAUi3hajcxOMy5BpOHyaQ:hover {
  background-image: url('/gif/UUCoAUi3hajcxOMy5BpOHyaQ.gif');
}
/* average hotels */
#UU8dTMya_5wf0bCc-apfqklg:hover {
  background-image: url('/gif/UU8dTMya_5wf0bCc-apfqklg.gif');
  background-size: 140%;
}
/* slightly better hotels */
#UUB4RU8gqyl0bA-vLlwZPXnw:hover {
  background-image: url('UUB4RU8gqyl0bA-vLlwZPXnw.gif');
  background-size: 120%
}
/* repaired machines */
#UUDQvY28N-3rURWPxXjF2Zig:hover {
  background-image:url('UUDQvY28N-3rURWPxXjF2Zig.gif');
}
/* celine dion */
#UUyIiHr-82Gk7Qwsaf3265Mg:hover {
  background-image: url('/gif/UUyIiHr-82Gk7Qwsaf3265Mg.gif');
}
/* aluminium slideshows */
.UUlN5CgjWmpZhajQL9q8PGUQ:hover {
  background-image: url('UUlN5CgjWmpZhajQL9q8PGUQ.gif');
}
/* garbage trucks */
#UUEeLVjDLr_FZcv5IoiDOVyQ:hover {
  background-image: url('/gif/UUEeLVjDLr_FZcv5IoiDOVyQ.gif');
}
/* trains */
#UU0XdP0OKZGj2Q6yxpif4VcQ:hover {
  background-image: url('/gif/UU0XdP0OKZGj2Q6yxpif4VcQ.gif');
}
/* airplanes */
#UUKEpHUTxfE0kPmMJf139xeg:hover {
  background-image: url('/gif/UUKEpHUTxfE0kPmMJf139xeg.gif');
}
/* crypto */
#UU8g1_EnbOuANbBhu4JVS6vA:hover {
  background-image: url('/gif/UU8g1_EnbOuANbBhu4JVS6vA.gif');
}
/* driving */
#UUYI0WpG3mZ4CMvgjRLyCQzQ:hover {
  background-image: url('/gif/UUYI0WpG3mZ4CMvgjRLyCQzQ.gif');
  background-size: 320%
}
/* words */
#UU1im51nX3wcrB1eUcEjnilQ:hover {
  background-image: url('/gif/UU1im51nX3wcrB1eUcEjnilQ.gif');
}
/* fire */
#UUfrsaUipG8naqyeS3oJLlxg:hover {
  background-image: url('/gif/UUfrsaUipG8naqyeS3oJLlxg.gif');
  background-size: 140%;
}
/* cooking */
#UU_fApww-M3xavQ0FT8raYrw:hover {
  background-image: url('/gif/UU_fApww-M3xavQ0FT8raYrw.gif');
}
/* smiling */
#UUqW54i24PGw1q7IxciRmgTA:hover {
  background-image: url('/gif/UUqW54i24PGw1q7IxciRmgTA.gif');
}
